

body {
	font: 14px  "Times New Roman", Arial;
	margin: 0 auto;
	}
main {
	width: 900px;
	margin: 0 auto;
	border: 4px double #000;
	padding: 0 10px;
	}
header {
	height: 220px;
	text-align: center;
	background: linear-gradient(45deg, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	font: 16px  "Courier New", Serif; Helvetica;
}
h1 {
	text-shadow: 2px 2px gray;
	padding-top: 20px;
}
ul {
	list-style-type: none;
} 
li {
	color: inherit;
}
#menu {
	width: 650px;
	height: 24px;
	padding: 20px;
	margin: 30px auto;
	text-align: center;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
}
#menu ul {
	margin: 0 auto ;
	padding: 20px 0 0 0;
	overflow: hidden;
	height: 24px;
	text-align: center;
}
#menu li {
	float: left;
	text-transform: uppercase;
	font-family: "Times New Roman", Arial;
	color: #000;
	margin: 0 10px;
}
#menu li a {
	color: #000;
	display: block;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}
#menu li:hover {
	background-color: gray;
	text-decoration: none;
}
#pics {
	text-align: center;
	margin: 24px auto;
}
img {
	width: 225px;
	height: 225px;
	display: inline;
	border: 2px solid #000;
	margin: 0 10px;
}
.mainSection {
	background-color: #d7e5ea;
}
#introduction {
	margin: 10px auto;
	text-align: center;
	padding: 20px 10px 10px 10px;
	font-size: 20px;
	border-bottom: 1px solid #000;
	width: 90%;
	height: 100px;
}
#bar {
	background: linear-gradient(to bottom, #d7e5ea 33%, #cccccc 66%, #d7e5ea 100%);
	height: 100px;
	
}
#professional-experience {
	margin: 20px auto 10px auto;
	padding:10px;
}
#professional-experience h2 {
	text-align: center;
	margin: 30px auto;
	font-size: 30px;

}
.job {
	margin: 50px 50px;
	border-radius: 25px;

}
.job-title {
	margin: 30px auto;
	font-size: 16px;
	background-color: #d6e0f5;
	padding: 20px 40px;
	border-radius: 25px;
	box-shadow: 10px 10px 5px #000;

}
.job ul {
	box-shadow: 10px 10px 5px #000;
	border-radius: 25px;
	background-color: #b0bcce;
	padding: 20px 0;
	width: 75%;
	margin: 0 auto;

}
.job ul li {
	margin: 20px auto ;
	text-align: center;
	text-decoration: underline;
}
footer {
	background-color: #cccccc;
	padding: 10px;
	font-size: 15px;
	text-align: center
}

#contact a:link {
	color:blue
	text-decoration: underline;
	}
#contact a:hover {
	color: red;
	text-decoration: none;
	}

